{% extends 'base.html.twig' %}
{% block main %}

<body>

    <div class="callout large primary">
      <div class="row column text-center">
      </div>
    </div>
    
<div class="row">

  <div class="medium-7 large-6 columns">
    <h1>Le club</h1>
    <p class="subheader">Créé au début des années 80, le club de "Athletik" , compte à ce jour environ 150 sportifs et sympathisants. 
Le but de l'association est de fédérer pour pratiquer sous différentes formes la passion commune de tous : LA COURSE A PIED.
Débutant ou aguérri, jeune ou moins jeune, en dilletante ou en compétition,
chaque licencié pourra pratiquer son sport favori au sein du club dont les valeurs
sont l'humilité, la tolérance, le respect, la solidarité....tout cela induisant la convivialité !!! <br /></p>
  </div>

  <div class="show-for-large large-3 columns club">
    <img src="http://placehold.it/400x370&text=PSR1257 + 12 C" alt="picture of space">
    <img src="http://placehold.it/400x370&text=PSR1257 + 12 C" alt="picture of space">
    <img src="http://placehold.it/400x370&text=PSR1257 + 12 C" alt="picture of space">
  </div>

</div>
</body>
{% endblock %}

{% block javascripts %}{% endblock %}