{% extends 'base.html.twig' %}

{% block main %}
    
    <label>Sélectionnez la course dont les résultats sont à enregistrer</label>

    <select id="courseaddcourse">
        {% for meeting in meeting %}
            <option value="{{ meeting.id }}">{{ meeting.name }}</option>
        {% endfor %}
        
    </select>
        {% for meeting in meeting %}
        <a id="liencourse" href="{{path('addResultatsid', {'id':meeting.id })}}"><button class="button large" type="submit">Valider</button></a>
        {% endfor %}

    
{% endblock %}