{% extends 'base.html.twig' %}
{% block main %}
    <div class="callout large primary">
      <div class="row column text-center">
      </div>
    </div>

    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">498</div><span>Estropieds</span></a></li>
        <li><a href="#"><div class="stat">43</div><span>Branques</span></a></li>
        <li><a href="#"><div class="stat">2</div><span>Dents en moins</span></a></li>
        <li><a href="#"><div class="stat">0</div><span>Winner</span></a></li>
        <li><a href="#"><div class="stat">18</div><span>Fauteils electriques</span></a></li>
      </ul>
    </div>

    <hr>

    <div class="row column">
      <h3>Le classement</h3>
    </div>

    <div class="row medium-up-3 large-up-4 container_portfolio">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/50x50">
      </div>

    </div>

    <hr>


{% endblock %}
{% block javascripts %}{% endblock %}



    