{% extends 'base.html.twig' %}
{% block main %}

    <div class="callout large primary">
      <div class="row column text-center">
      </div>
    </div>

    <div class="callout large">
      
      <div class="row column text-center">
        <h1>Courez avec nous...</h1>
        <p class="lead">Participez à nos courses en adhérant au club Athletik.</p>
        <a href="#" class="button large">Adhérer</a>
        <a href="#" class="button large hollow">Voir les prochaines courses</a>
      </div>
      
      <img src="img/Athletik_accueil.jpg" class="bg_accueil"/>
      
    </div>
    
    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail homeimg" src="http://placehold.it/750x350">
      </div>
      <div class="medium-6 columns medium-pull-6 home_last_event_txt">
        <h2>Le Trézir, un plaisir.</h2>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <h3>Date</h3>
        <p>Vivamus luctus.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">288</div><span>Courses</span></a></li>
        <li><a href="#"><div class="stat">43</div><span>Médailles</span></a></li>
        <li><a href="#"><div class="stat">95000</div><span>Sourires</span></a></li>
        <li><a href="#"><div class="stat">0</div><span>Dopages</span></a></li>
        <li><a href="#"><div class="stat">18</div><span>PopomBoys</span></a></li>
      </ul>
    </div>

    <hr>

    <div class="row column">
      <h3>Nos dernières courses</h3>
    </div>

    <div class="row medium-up-3 large-up-4 container_portfolio">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>

    </div>

    <hr>


{% endblock %}
{% block javascripts %}{% endblock %}



    