/********************BASE******************/
.logo{
    font-size: 2.5vh;
    color:black;
}

.top-bar-left.menu a li{
    padding: 0.7rem 1rem;
}
ul .submenu{
    list-style-type: none;
}
footer{
    display:flex !important;
}
.footer{
    max-width: 40vh;
    margin: 2vh 5vh;
}
.menuaccueil li{
    padding-top:1.7vh;
}
.top-bar-right{
    padding-top: 1.7vh;
}
/********************PAGE ACCUEIL******************/
.callout{
    position:relative;
    display:inherit;
    padding:0rem;
    margin:0rem;
    display:flex;
    flex-direction: column;
}
.callout.large{
    position:relative;
    display:inherit;
    padding:0rem;
    margin:0rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}
.callout{
    border-top: 1px solid rgba(10, 10, 10, 0.25);
}

/*.bg_accueil{
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    /*filter: blur(2px);
}*/
.dateaccueil{
      padding-left: 4vh;  
}
.coursesaccueil{
      padding-left: 4vh;  
}
.home_last_event_txt{
    padding-left: 4vh;
}
/********************PAGE PRESENTATION******************/
.club{
    display:flex;
    justify-content: space-around;
}
.homeimg{
    float:right;
}
.container_portfolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.container_portfolio > img{
    float: left;
}
/********************PAGE CLASSEMENT******************/
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
}
/********************DIVERSES PAGES********************/
.boxcenter{
    max-width:50%;
    margin:auto;
    margin-top:4vh;
}
.hidden{
    visibility:hidden;
}